@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */

@font-face {
  font-family: "Product Sans Regular";
  src: url("./fonts/ProductSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Bold";
  src: url("./fonts/ProductSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Black Regular";
  src: url("./fonts/ProductSans-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Italic";
  src: url("./fonts/ProductSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Bold Italic";
  src: url("./fonts/ProductSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Light Italic";
  src: url("./fonts/ProductSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Product Sans Light";
  src: url("./fonts/ProductSans-Light.ttf") format("truetype");
}

* {
  scrollbar-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.4);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Loading Page */

.loading-page .loading-page__loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loading-page .loading-page__text {
  font-family: "Product Sans Bold", sans-serif;
  font-size: clamp(1rem, 5vw, 2rem);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-page .loading-page__text .loading-page__text__dots p,
.loading_text_dots {
  transition: all 0.5s ease-in-out;
}

.loading-page .loading-page__text .loading-page__text__dots p:nth-child(1),
.loading_text_dots p:nth-child(1) {
  animation: blink 2s infinite 1s;
}
.loading-page .loading-page__text .loading-page__text__dots p:nth-child(2),
.loading_text_dots p:nth-child(2) {
  animation: blink 2s infinite 1.5s;
}
.loading-page .loading-page__text .loading-page__text__dots p:nth-child(3),
.loading_text_dots p:nth-child(3) {
  animation: blink 2s infinite 1.75s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}